.header {
  background-color: rgba(0, 0, 255, 0) !important;
}



.link {
    animation-name: color_change;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
    text-decoration: none  !important;
    font-weight: 500 !important;
    color: #666 !important;
    transition: all 1.0s ease !important;
    -webkit-transition: all 1.0s ease !important;
  	-moz-transition: all 1.0s ease !important;
  	-o-transition: all 1.0s ease !important;
}

.link:hover {
  color: #fff !important;
  padding-top: 10px !important;
  font-size: 15px !important;
  transition: all 0.6s ease !important;
  -webkit-transition: all 0.6s ease !important;
  -moz-transition: all 0.6s ease !important;
  -o-transition: all 0.6s ease !important;
}

@keyframes color_change {
	from { color: #aaa; }
	to   { color: #777; }
}




@media screen and (max-width:700px) {

  .header {
    position: absolute;
    margin-left: 100%;
  }

  .drawer {
    width: 35% !important;
  }
  
  .mdl-layout .mdl-layout__drawer-button {
    color: #555;
  }
  
 }
