@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.landing-grid {
  background-color: #111;
}

div.landingPage {
  width: 100%;
  margin: auto;
  z-index: 1;
}

.landing-grid {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img.avatar {
  height: 30%;
  padding-top: 5em;
  margin-bottom: 1%;
}


div.banner {
  background-color: black;
  opacity: .8;
  width: 60%;
  margin: auto;
  padding-top: 0.1em;;
  padding-bottom: 1%;
  border-radius: 20px;
}

div.banner h1 {
  font-size: 50px;
  font-weight: bold;
  color: #ccc;
  font-family: Roboto;
  margin-bottom: 0;
}

div.banner hr {
  border-top: 2px dotted white;
  width: 70%;
  margin: .5em auto .5em auto;
}

div.banner p {
  color: #ddd;
  font-size: 20px;
  padding: 0.5em 1em 0 1em;
  font-family: Nunito Sans;
}

div.social-links {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

div.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}








@media screen and (max-width:700px) {

  .landing-grid {
    background-color: #111;
  }

  div.banner {
    width: 90%;
    padding: 0.1% 1% 4% 1%;
    margin-top: 2%;
  }

  div.banner h1 {
    font-size: 30px;
    margin-bottom: -0.1%;
  }

  div.banner hr {
    border-top: 2px dotted white;
    width: 90%;
    margin-bottom: -2%;
  }

  div.banner p {
    font-size: 15px;
    margin-bottom: -1%;
    padding: 0.8em 1em 0 1em;
  }

  div.social-links {
    width: 40%;
  }

  div.social-links i {
    font-size: 4em;
  }

}


