div.projects-grid {
  display: flex;
}

div.projects-grid .card {
  midWidth: 10%;
  margin: auto;
  margin-top: 1%;
}

div.projects-grid .react {
  color: white;
  height: 90px;
  background-position: calc(100% + 10px) calc(100% - 5px) !important;
  background-size: 120px 80px !important;
  background-repeat: no-repeat !important;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/640px-React-icon.svg.png) center / cover;
  background-color: black;
}

div.projects-grid .springboot {
  color: #555;
  height: 90px;
  background-position: calc(100% - 20px) calc(100% + 0px) !important;
  background-size: 80px 70px !important;
  background-repeat: no-repeat !important;
  background: url(https://cdn-images-1.medium.com/max/856/1*O68LbDvD5Dcsnez73M7v4Q.png) center / cover;
}

div.projects-grid .spring {
  color: #555;
  height: 90px;
  background-position: calc(100% - 20px) calc(100% + 0px) !important;
  background-size: 72px 70px !important;
  background-repeat: no-repeat !important;
  background: url(https://raw.githubusercontent.com/github/explore/6c6508f34230f0ac0d49e847a326429eefbfc030/topics/spring-boot/spring-boot.png) center / cover;
}

div.projects-grid .java {
  color: #555;
  height: 90px;
  background-position: calc(100% - 20px) calc(100% + 0px) !important;
  background-size: 80px 70px !important;
  background-repeat: no-repeat !important;
  background: url(https://pbs.twimg.com/profile_images/498930484273889280/652rxwyK_400x400.png) center / cover;
}

div.projects-grid .cardMenu {
  color: #fff;
}





@media screen and (max-width:700px) {

  div.category-tabs {
    margin-top: 10%;
  }

  div.projects-grid {
    display: flow-root;
  }

  div.projects-grid .card {
    width: 80%;
    margin-bottom: 8%;
  }

}
