
.table {
	display: table;
  width: 100%;
}

.tableRow {
	display: table-row;
}

.tableCell {
	display: table-cell;
}



.resume-left-col h3 {
  padding-top: 0px;
}

.resume-left-col h4 {
  color: grey;
}

.resume-left-col hr {
  border-top: 2px solid rgba(#8597DB, 0.43);
  width: 63%;
}


.resume-right-col {
  background: #27221F;
  color: #bbb;
  border-radius: 10px;
  padding-right: 2%;
  padding-bottom: 5%;
}

.resume-right-col h3 {
  margin-left: 2%;
}

.resume-right-col div.table {
  margin-top: 1em;
}

.resume-right-col .grid .left {
  width: 22%;
}

.resume-right-col .grid .left p {
  margin-left: 10%;
}



.resume-right-col .grid .right h4 {
  margin-top: 0px;
}

.resume-right-col .grid .right h5 {
  margin-top: -2%;
  color: #888;
}

.resume-right-col .grid .right h5.date {
  height: 0px;
  opacity: 0;
}

.resume-right-col .grid .right ul {
  padding-left: 2%;
}

.resume-right-col .grid .right li {
  margin-bottom: -2% !important;
}

.resume-right-col .grid .right p {
  margin-left: 0;
}

.resume-right-col hr {
  border-top: 3px solid #5C0D1A;
}




@media screen and (max-width:700px) {

	div.resume-body {
		margin-top: 3%;
	}

  .resume-left-col h3 {
    padding: 0px;
  }

  .resume-left-col h4 {
    margin-top: -5%;
  }

  .resume-left-col p {
    margin-top: -3%;
  }


  .resume-right-col h3 {
    margin: 2%;
    font-size: 2em;
  }

  .resume-right-col .grid .left {
    height: auto;
    width: 0px;
    opacity: 0;
  }

  .resume-right-col .grid .right {
    width: 90%;
    margin: 0 0 -4% 0;
  }

  .resume-right-col .grid .right h4 {
      font-size: 15px;
      margin: -4% 0 2% 0;
  }

  .resume-right-col .grid .right h5 {
      font-size: 12px;
      margin: -4% 0 1% 0;
  }

  .resume-right-col .grid .right h5.date {
    opacity: 1;
    height: auto;
    margin: 0 0 -2% 0;
  }

  .resume-right-col .grid .right ul {
    padding-left: 5%;
  }

  .resume-right-col .grid .right li {
    margin-bottom: -5% !important;
  }

  .resume-right-col .grid .right p.desc {
      font-size: 12px;
  }

}
