.header {
  background-color: rgba(0, 0, 255, 0) !important;
  /*background: #616161;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #616161,  #9bc5c3, #616161, #616161);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #616161, #9bc5c3, #616161, #616161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.link {
    animation-name: color_change;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;
    text-decoration: none  !important;
    font-weight: 500 !important;
    color: #666 !important;
    transition: all 1.0s ease !important;
    -webkit-transition: all 1.0s ease !important;
  	-moz-transition: all 1.0s ease !important;
  	-o-transition: all 1.0s ease !important;
}

.link:hover {
  color: #333 !important;
  padding-top: 10px !important;
  font-size: 15px !important;
  transition: all 0.6s ease !important;
  -webkit-transition: all 0.6s ease !important;
  -moz-transition: all 0.6s ease !important;
  -o-transition: all 0.6s ease !important;
}

@keyframes color_change {
	from { color: #aaa; }
	to   { color: #666; }
}




@media screen and (max-width:700px) {

  .header {
    position: absolute;
    margin-left: 100%;
  }

 }
